@use 'sass:map';
@use '@angular/material' as mat;
@use 'styles/palettes' as palettes;

@include mat.core();

$palette-primary: mat.define-palette(palettes.$cg-blue, 800, 500, 900);
$palette-accent: mat.define-palette(palettes.$plum, 600, 300, 900);
$palette-warn: mat.define-palette(palettes.$red-salsa, 400, 200, 800);

$hashmapp-web-client-theme: mat.define-light-theme((
  color: (
    primary: $palette-primary,
    accent: $palette-accent,
    warn: $palette-warn,
  )
));

@include mat.all-component-themes($hashmapp-web-client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { background-color: map.get(palettes.$prussian-blue, 900); margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
